<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wsq.analysis.javacareer.mapper.PositionMapper">
    <select id="getDistrictByCity" resultType="java.lang.String">
        select distinct district from analysis.position where city=#{city}
    </select>
    <select id="getSalary" resultType="java.lang.String">
        select distinct salary from analysis.position order by salary
    </select>
    <select id="getJobTitle" resultType="java.lang.String">
        select distinct job_title from analysis.position
<!--        where job_title like concat("%",#{jonTitle},"%")-->
    </select>
    <select id="getCity" resultType="java.lang.String">
        select distinct city from analysis.position
    </select>
    <select id="getCountByJonTitle" resultType="java.lang.Integer" parameterType="string">
        select count(job_title) from analysis.position where job_title=#{jobTitle}
    </select>
    <select id="getSalaryByCity" resultType="java.lang.String">
        select salary from analysis.position where city=#{city}
    </select>

</mapper>